---
import Layout from "@main/layouts/Layout.astro";
---

<Layout title="about us | 1000$">
  <main class="" transition:animate="slide">
    <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
      <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-blue-700 dark:text-white pb-4">
            About Us
          </h1>
          <p class="font-medium text-lg leading-7 text-gray-600 dark:text-white">
            At 1000$, we are passionate innovators dedicated to transforming ideas into cutting-edge
            software solutions. Our journey began with a shared vision: to empower businesses and
            individuals through technology. 1000$ is a dynamic team of forward-thinking developers,
            designers, and tech enthusiasts united by a common goal – to redefine the digital
            landscape. With a blend of creativity and technical prowess, we embark on a mission to
            deliver software that not only meets industry standards but exceeds expectations.
          </p>
        </div>
        <div class="w-full lg:w-8/12">
          <img
            class="w-full h-full"
            src="https://i.ibb.co/FhgPJt8/Rectangle-116.png"
            alt="A group of People"
          />
        </div>
      </div>

      <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-blue-700 dark:text-white pb-4">
            Our Mission
          </h1>
          <p class="font-medium text-lg leading-7 text-gray-600 dark:text-white">
            At the core of 1000$'s mission is a commitment to excellence. We strive to develop
            software that seamlessly integrates into the fabric of your business, enhancing
            efficiency and driving success. Our solutions are tailored to meet the unique challenges
            of today's fast-paced, ever-evolving digital world.
          </p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
          <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
              <img
                class="md:block hidden"
                src="https://i.ibb.co/FYTKDG6/Rectangle-118-2.png"
                alt="Alexa featured Image"
              />
              <img
                class="md:hidden block"
                src="https://i.ibb.co/zHjXqg4/Rectangle-118.png"
                alt="Alexa featured Image"
              />
              <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Alexa</p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
              <img
                class="md:block hidden"
                src="https://i.ibb.co/fGmxhVy/Rectangle-119.png"
                alt="Olivia featured Image"
              />
              <img
                class="md:hidden block"
                src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png"
                alt="Olivia featured Image"
              />
              <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Olivia</p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
              <img
                class="md:block hidden"
                src="https://i.ibb.co/Pc6XVVC/Rectangle-120.png"
                alt="Liam featued Image"
              />
              <img
                class="md:hidden block"
                src="https://i.ibb.co/C5MMBcs/Rectangle-120.png"
                alt="Liam featued Image"
              />
              <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Liam</p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
              <img
                class="md:block hidden"
                src="https://i.ibb.co/7nSJPXQ/Rectangle-121.png"
                alt="Elijah featured image"
              />
              <img
                class="md:hidden block"
                src="https://i.ibb.co/ThZBWxH/Rectangle-121.png"
                alt="Elijah featured image"
              />
              <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Elijah</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
