---
import { Image } from "astro:assets";
---

<section class="carousel all-full-width">
  <div class="embla embla__hero">
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide relative content-grid">
          <Image
            class="embla__slide__img h-[35rem] all-full-width"
            src="/images/1.jpg"
            alt="Your alt text"
            width="498"
            height="280"
            format="webp"
          />

          <div class="absolute top-[25%] max-sm:left-[2%] text-white flow">
            <h1 class="text-4xl sm:text-5xl font-semibold sm:max-w-[20ch] leading-snug">
              Enterprise Software Development
            </h1>
            <p class="text-xl sm:text-2xl">
              Empowering businesses with next-gen solutions <br /> to drive business growth
            </p>
          </div>
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img h-[30rem]"
            src="src/images/slide-2.jpg"
            alt="Your alt text"
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img h-[30rem]"
            src="src/images/slide-3.jpg"
            alt="Your alt text"
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img h-[30rem]"
            src="src/images/slide-4.jpg"
            alt="Your alt text"
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img h-[30rem]"
            src="src/images/slide-1.jpg"
            alt="Your alt text"
          />
        </div>
      </div>
    </div>
    <!-- <div class="embla__buttons">
         <button class="embla__button embla__button--prev" type="button" disabled="">
           <svg class="embla__button__svg" viewBox="0 0 532 532">
             <path
               fill="currentColor"
               d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
             ></path>
           </svg></button
         ><button class="embla__button embla__button--next" type="button" disabled="">
           <svg class="embla__button__svg" viewBox="0 0 532 532">
             <path
               fill="currentColor"
               d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
             ></path>
           </svg>
         </button>
       </div> -->
  </div>
  <div class="embla__dots embla__dots__hero"></div>
</section>
