---
import Footer from "@main/components/layout/Footer.astro";
import Header from "@main/components/layout/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}
import "@main/styles/base.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist />
    <slot />
    <Footer />
    <script>
      import "@main/scripts/index.ts";
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
